/* CSS Document */

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #9cf;
  color: #fff;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6af), to(#bdf));
  background-image: -webkit-linear-gradient(#6af, #bdf);
  background-image: -moz-linear-gradient(#6af, #bdf);
  background-image: linear-gradient(#6af, #bdf);
}

::-webkit-scrollbar {
  display: none;
}

/* Snowman */

.snowman {
  width: 250px;
  margin: auto;
  overflow: visible;
}

.smBody, .smFeet, .smHead {
  border: thin #000 solid;
  height: 150px;
  background-color: aliceblue;
  border-radius: 45%;
  margin: auto auto;
}

.smHead {
  position: relative;
  bottom: -60px;
  z-index: 10;
  width: 50%;
}

.hat {
  background-color: black;
  height: 80px;
  width: 80px;
  position: absolute;
  top: -70px;
  left: 20px;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.rim {
  background-color: black;
  height: 30px;
  width: 120px;
  position: absolute;
  top: 70px;
  left: -20px;
  border-radius: 50%;
}

.face {
  margin: 40px auto;
  height: 30px;
  width: 50%;
  position: relative;
}

.eye, .nose, .mouth {
  border: thin #000 solid;
  height: 15px;
  width: 20px;
  border-radius: 45%;
  background-color: black;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nose, .mouth {
  margin: auto;
  clear: both;
}

.nose {
  margin-top: 20px;
  height: 30px;
}

.mouth {
  margin-top: 10px;
  width: 50px;
}

.smBody {
  height: 200px;
  width: 70%;
  position: relative;
  bottom: -40px;
  z-index: 9;
}

.smFeet {
  height: 300px;
  width: 250px;
  z-index: 8;
  margin-bottom: -40px;
}

.hill {
  border-top: 2px solid #000;
  width: 300%;
  margin-left: -150%;
  min-height: 100px;
  padding: 60%;
  border-radius: 50%;
  background-color: #fff;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* TREE */
.fir {
     position: absolute;
     margin: 0 auto;
     width: 8em;
     bottom: 0;
     margin-bottom: -150px;
}
.fir-item {
     margin: 0 auto;
     width: 0;
     height: 0;
     border-left: 2.3em solid transparent;
     border-right: 2.3em solid transparent;
     border-bottom: 3em solid #16850c;
}
.fir-item:nth-child(2) {
     margin-top: -1.3em;
     border-left-width: 3em;
     border-right-width: 3em;
     border-bottom-width: 4em;
}
.fir-item:nth-child(3) {
     margin-top: -1.7em;
     border-left-width: 4em;
     border-right-width: 4em;
     border-bottom-width: 5em;
}
.fir-log {
     margin: 0 auto;
     width: 1.3em;
     height: 1.3em;
     background: #8c370f;
     background: linear-gradient(#8c370f, #5c240a);
}

/* MOUNTAINS */
.mountain {
    z-index: -10;
    position: absolute;
    left: -10px;
    bottom: -580px;
    width: 60%;
    height: 90%;
    background-color: #755223;
    -moz-transform: scale(1) rotate(45deg);
    -webkit-transform: scale(1) rotate(45deg);
    -o-transform: scale(1) rotate(45deg);
    -ms-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 10px 14px 16px -16px #222;
    -moz-box-shadow: 10px 14px 16px -16px #222;
    box-shadow: 10px 14px 16px -16px #222;
}
.mountain div {
    position: absolute;
    top: -20px;
    left: -30px;
    width: 70px;
    height: 70px;
    background-color: #eee;
    border-radius: 10px
}

/* CHRISTMAS LIGHTS */
#wire {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  padding: 0;
  width: 100%;
  top: -80px;
  border-bottom: 3px solid #222;
  height: 100px;
}

#wire li {
  position: relative;
  list-style-type: none;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
  width: 15px;
  height: 30px;
  border-radius: 50%;
  top: 102px;
  background-color: white;
  animation-name: even-flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}


#wire li:nth-child(odd) {
  animation-name: odd-flash;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

#wire li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 10px;
  border-radius: 4px;
  top: -5px;
  left: 0;
  background: #444;
}

@keyframes even-flash {
  0%, 100% {
    background: rgba(255, 0, 0, 1);
    box-shadow: 0px 2px 20px 4px rgba(255, 0, 0, 1);
  }
  50% {
    background: rgba(255, 0, 0, 0.5);
    box-shadow: 0px 2px 20px 4px rgba(255, 0, 0, 0.3);
  }
}

@keyframes odd-flash {
  50% {
    background: rgba(0, 255, 0, 1);
    box-shadow: 0px 2px 20px 4px rgba(0, 255, 0, 1);
  }
  0%, 100% {
    background: rgba(0, 255, 0, 0.5);
    box-shadow: 0px 2px 20px 4px rgba(0, 255, 0, 0.3);
  }
}
