/* CSS Document */

body {
  background-color: #ccc;
}

/* Snowman */
.snowman {
  width: 250px;
  margin: auto;
  overflow: visible;
}

.smBody, .smFeet, .smHead {
  border: thin #000 solid;
  height: 150px;
  background-color: aliceblue;
  border-radius: 45%;
  margin: auto auto;
}

.smHead {
  position: relative;
  bottom: -60px;
  z-index: 10;
  width: 50%;
}

.hat {
  background-color: black;
  height: 80px;
  width: 80px;
  position: absolute;
  top: -70px;
  left: 20px;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.rim {
  background-color: black;
  height: 30px;
  width: 120px;
  position: absolute;
  top: 70px;
  left: -20px;
  border-radius: 50%;
}

.face {
  margin: 40px auto;
  height: 30px;
  width: 50%;
  position: relative;
}

.eye, .nose, .mouth {
  border: thin #000 solid;
  height: 15px;
  width: 20px;
  border-radius: 45%;
  background-color: black;
}

.left {
  float: left;
}

.right {
  float: right;
}

.nose, .mouth {
  margin: auto;
  clear: both;
}

.nose {
  margin-top: 20px;
  height: 30px;
}

.mouth {
  margin-top: 10px;
  width: 50px;
}

.smBody {
  height: 200px;
  width: 70%;
  position: relative;
  bottom: -40px;
  z-index: 9;
}


.smFeet {
  height: 300px;
  width: 250px;
  z-index: 8;
  margin-bottom: -40px;
}
